[commit]
	gpgsign = true

[tag]
	gpgsign = true

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers

[core]
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[merge]
	tool = vscode

[mergetool "vscode"]
	cmd = code -w $MERGED

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
